{% extends "CC15Bundle::layout.html.twig" %}

{% block body %}
    <h1>Eshop {{ eshop.name }}{% if category %} - {{ category.name }}{% endif %}</h1>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                    <li><a href="{{ url("eshop_category_detail", {eshop:eshop.slug, category:category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for product in products %}
                {% include "CC15Bundle::product.html.twig" with {product:product} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
