{% extends "CC15Bundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <h1>Eshopy</h1>
            <ul class="nav nav-pills nav-stacked">
                {% for eshop in eshops %}
                    <li><a href="{{ url("eshop_detail", {eshop:eshop.slug}) }}">{{ eshop.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <h1>Produkty</h1>
            {% for product in products %}
                {% include "CC15Bundle::product.html.twig" with {product:product} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
